@import "../../../styles/colors";
.sidebar-wrapper {
  float: left;
  height: 100%;
}

main {
  height: 100%;
  padding-left: 330px;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  input {
    width: 100%;
  }
  button {
    margin-top: 1rem;
    //text-align: center;
  }
}


